// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// swiper
@import './swiper.scss';

//top
@import './top.scss';

//user-index
@import './user_index.scss';

//edit
@import './edit.scss';

// *************************************************************
// Foundation
// *************************************************************
@import './foundation/mixin';
@import './foundation/variables';
@import './foundation/reset';
@import './foundation/base';

// *************************************************************
// Layout
// *************************************************************
@import './layout/adminHome';
@import './layout/header';
@import './layout/adminForm';

// *************************************************************
// Componet
// *************************************************************
@import './object/component/container';
@import './object/component/menu';
@import './object/component/menuTrigger';
@import './object/component/sidebar';
@import './object/component/form';
@import './object/component/page';

// *************************************************************
// Project
// *************************************************************
@import './object/project/mainHeader';
@import './object/project/adminHome';
@import './object/project/productList';
@import './object/project/footer';

// *************************************************************
// Utility
// *************************************************************
@import './object/utility/bgColor';
.u-btn {
    &__edit {
        color: $btn-color_main;
        border: 2px solid $btn-color_main;
    }
    &__remove {
        color: #c76d6d;
        border: 2px solid #c76d6d;
    }
}

