/* swiper */
/* コンテナー */
.container-2 {
  width: 1000px;
  margin: 0 auto;
}

/* スライダーのwrapper */
.infinite-slider .swiper-wrapper {
  // transition-timing-function: linear;
  transition-timing-function: ease-in-out;
}

/* スライド */
.infinite-slider .swiper-slide {
  height: 320px !important; /* 高さを指定 */
  width: auto !important;
}

/* スライド内の画像 */
.infinite-slider .swiper-slide img {
  width: auto;
  height: 100%;
}