.topics {
    margin: 0;
    overflow: hidden;
    clear: both;
    padding-top: 30px;
}

.event_frame {
    width: margin 0 auto 0 auto;
    display: block;
}

.event_box_l {
    width: 215px;
    float: left;
    margin: 0 15px 18px 0;
}

a.event_box_link, a:hover.event_box_link {
    text-decoration: none;
}

.event_box {
    padding: 8px 6px 8px 6px;
    background: #efedee;
}

.event_box .txt_sub {
    font-size: 17px;
    height: 36px;
    line-height: 120%;
}

.event_box .txt_main {
    font-size: 14px;
    font-weight: bold;
    height: 65px;
    line-height: 140%;
}

.event_box_r {
    width: 215px;
    float: right;
    margin: 0 0 18px 0;
}

.clear {
    clear: both;
}


.book_list {
    clear: both;
    margin: 0 0 15px 0;
}

h3 {
    background-image: url(/public/img/title_border.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 6px;
    margin-top: 0px;
    font-size: 16px;
    clear: both;
}

.book_list ul {
    background-image: url(/images/osusume10bg.gif);
    background-repeat: no-repeat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

.book_list ul li {
    width: 110px;
    float: left;
    margin: 5px 13px 5px 12px;
}


.book_list ul li img {
    height: 154px;
}

.book_list .books_title {
    font-size: 13px;
    line-height: 16px;
    margin: 5px 0 0 0;
    font-weight: bold;
    height: 40px;
}

.book_list .books_writer {
    font-size: 12px;
    line-height: 16px;
}

.book_list .books_price, .book_list .books_ather {
    font-size: 11px;
    line-height: 14px;
    margin: 2px 0 0 0;
}

.book_list ul li span {
    display: block;
    text-align: center;
}